name: Deploy Flet App to Pages
on:
  push:
    branches: [ main ]

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: pip install flet

      - name: Build Web
        run: flet publish mainWEB.py --base-url /8Puzzle_Solver/

      - name: Apply COI Fix from CDN
        run: |
          # Vložíme skript přímo z CDN. Žádné lokální soubory = žádné 404 chyby.
          sed -i 's/<head>/<head><script src="https:\/\/cdnjs.cloudflare.com\/ajax\/libs\/coi-serviceworker\/0.1.7\/coi-serviceworker.min.js"><\/script>/' dist/index.html

      - name: Create .nojekyll
        run: touch dist/.nojekyll

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: dist
          branch: gh-pages