name: Deploy Static JS App to Pages
on:
  push:
    branches: [ main ]
    paths:
      - 'web/index.html'
      - 'web/style.css'
      - 'web/script.js'
      - '.github/workflows/deploy.yml'

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Prepare Web Files
        run: |
          # Vytvoříme dočasnou složku pro export
          mkdir deploy_folder
          
          # TADY JE OPRAVA: Musíme říct, že soubory jsou ve složce web/
          cp web/index.html web/style.css web/script.js deploy_folder/
          
          # Přidáme nojekyll
          touch deploy_folder/.nojekyll

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: deploy_folder
          branch: gh-pages
          clean: true